.logo-container{
    background-color:#363434;
    display: flex;
}
.logo-container img{
    border-radius: 100px;
    margin-top: 3px;
    margin-left:10px;
}
.logo-container h1{
    margin-top: 10px;
    margin-left: 10px;
    color:white;
}
.useroptions-container{
    grid-column: span 3;
    background-color: #363434;
}
.communication-container{   
    grid-row: span 9;
    background-color: #302b2b;
    display:grid;
    grid-template-rows: repeat(20,minmax(5%,5%));
    width: 100%;
}
.workspace-container{
    grid-column: span 4;
    grid-row:span 9;
    background-color: #a0a0a0;
    display:grid;
    grid-template-columns: repeat(25,minmax(4%,4%));
}
.com-features-container{
    background-color: #363434;
    display: grid;
    grid-template-columns: repeat(3,minmax(33%,auto));
}
.com-features-container button{
    background: none;
    border: none;
    outline: none;
}
.com-features-container button:hover{
    cursor: pointer;
}
.com-navbar{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,minmax(33%,auto));
}
.com-navbar button{
    background-color: #363434;
    outline: none;
    border:none;
}
.com-navbar button:hover{
    cursor: pointer;
}
.com-overview{
    grid-row: span 19;
    background-color: tomato;
    display:grid;
}
.inner-workspace{
    grid-column: span 24;
    background-color: #412d2d;
    display:grid;
    
}
.directory-container{
    grid-row: span 3;
    background-color: #558f62;
}
.code-container{
    grid-column: span 4;
    grid-row: span 2;
    background-color: #8f8e55;
}
.terminal-container{
    grid-column:span 4;
    background-color: #8f5555;
}
.work-choice-bar{
    background-color: aqua;
    display: grid;
}
.work-choice-bar button{
    white-space: nowrap;
}
.codeArea{
    background-color: rgb(92, 79, 75);
    display:grid;
    grid-template-rows: repeat(3,minmax(33%,auto));
    grid-template-columns: repeat(5,minmax(20%,20%));
}
.WhiteBoard{
    background-color:rgb(156, 76, 51);
}
.DocEditing{
    background-color: #ac9e9e;
    margin:0;
    max-height: 700px;
}


.VideoArea{
    background-color: #363434;
}
.ChatArea{
    background-color: #363434;
}
.ParticipantsArea{
    background-color: #363434;
}
.meet{
    background-color: black;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5,minmax(20%,20%));
    grid-template-rows: repeat(10,minmax(10%,10%));

}
.resizeable {
    resize: horizontal;
    overflow: auto;
    border: 2px solid black;
  }