.logo-container{
    background-color:#363434;
    display: flex;
}
.logo-container img{
    border-radius: 100px;
    margin-top: 3px;
    margin-left:10px;
}
.logo-container h1{
    margin-top: 10px;
    margin-left: 10px;
    color:white;
}
.video-container{
    grid-column: span 3;
    grid-row: span 2;
    background-color: #363434;
}
.user-options-container{
    background-color: #363434;
}
.click-button{
    color:white;
    background-color: rgb(59, 221, 221);
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
}
.PDF:hover{
    background-color: #363434;
    border: rgb(59, 221, 221);
    color:rgb(59, 221, 221);
}
.communication-container{   
    grid-row: span 9;
    background-color: #302b2b;
    display:grid;
    grid-template-rows: repeat(20,minmax(5%,5%));
    width: 100%;
}
.workspace-container{
    grid-column: span 4;
    grid-row:span 9;
    background-color: #a0a0a0;
    display:grid;
    grid-template-columns: repeat(50,minmax(2%,2%));
}
.com-features-container{
    background-color: #363434;
    display: grid;
    grid-template-columns: repeat(3,minmax(33%,auto));
}
.com-features-container button{
    background: none;
    border: none;
    outline: none;
}
.com-features-container button:hover{
    cursor: pointer;
}
.com-navbar{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,minmax(50%,50%));
}
.com-navbar button{
    background-color: #363434;
    outline: none;
    border:none;
}
.com-navbar button:hover{
    cursor: pointer;
}
.com-overview{
    grid-row: span 19;
    background-color: tomato;
    display:grid;
}
.inner-workspace{
    grid-column: span 49;
    background-color: #412d2d;
    display:grid;
    
}
.directory-container{
    grid-row: span 3;
    grid-column: span 3;
    background-color: #558f62;
    overflow-y: auto;
    height: 100%;
}
.code-container{
    grid-column: span 7;
    grid-row: span 2;
    background-color: #8f8e55;
}
.terminal-container{
    grid-column:span 7;
    background-color: #8f5555;
}
.work-choice-bar{
    grid-column: span 1;
    background-color: aqua;
    display: grid;
}
.work-choice-bar button{
    white-space: nowrap;
}
.codeArea{
    background-color: rgb(92, 79, 75);
    display:grid;
    grid-template-rows: repeat(3,minmax(33%,33%));
    grid-template-columns: repeat(10,minmax(10%,10%));
}
.WhiteBoard{
    background-color:rgb(156, 76, 51);
}
.DocEditing{
    background-color: #ac9e9e;
    margin:0;
    max-height: 700px;
}

.mediaOptions  {
	position: relative;
	/* top: 70%; */
	bottom: 0%;
	left: 50%;
	align-items: center;
}

.userInfo
{
	position: absolute;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	height: 25%;
	width: 100%;
	bottom: 0%;
	display: flex;
	justify-content: space-between;
}

.mediaBox
{
	position: relative;
	width: 23%;
	align-items: center;
	display: flex;
	justify-content: space-between;
}	

.userName
{
	position: relative;
	color: white;
	left: 5%;
	bottom: 5%;
}

.user
{
	align-items: center;
	position: relative;
}

.audioStatus
{
	position: relative;

}

.videoStatus
{
	position: relative;
	right: 5%;
}

#video-grid {
	margin:4px, 4px;
	padding:4px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right:0%;
	display: grid;
	grid-template-rows: repeat(auto-fill, 170px);
	grid-auto-columns: 300px;
	grid-row-gap: 10px;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.ChatArea{
    background-color: #363434;
}
.ParticipantsArea{
    background-color: #363434;
}
.meet{
    background-color: black;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(5,minmax(20%,20%));
    grid-template-rows: repeat(10,minmax(10%,10%));

}
.resizeable {
    resize: horizontal;
    overflow: auto;
    border: 2px solid black;
  }