
.App-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(10,auto);
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    padding: 1em;
    transition: 1s;
}
.title-space{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    opacity: 0;
    width:100%;
    height:1em;
    top:0;
    transition: 1s;
}
.utilities{
    position:absolute;
    opacity: 0;
    width:100%;
    height:1em;
    bottom:0;
    transition: 1s;
}

.tab-switch{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    opacity: 0;
    background-color: gray;
    width:1em;
    height: calc(100% - 2em);
    top:1em;
    left:0.5em;
    border-radius: 1em;
    transition: 1s;
}

.comm-switch{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    opacity: 0;
    background-color: gray;
    width:1em;
    height: calc(100% - 2em);
    top:1em;
    right:0.5em;
    border-radius: 1em;
    transition: 1s;
}


.App[view="1"] > .App-container{
    width: calc(100% - 8em);
    height: calc(100% - 8em);
    padding: 4em;
}

.App[view="1"] > .title-space, .App[view="1"] > .utilities {
    opacity: 1;
    height: 3em;
}

.App[view="1"] > .tab-switch, .App[view="1"] > .comm-switch{
    opacity: 1;
    width: 3em;
}

