.participantArea{
    position: relative;
    width:100%;
    height:100%;
    overflow: auto;
}
.participant{
    width:80%;
    overflow-wrap: break-word;
    margin:10%;
    background:  rgb(42, 161, 190);
    color:white;
    border-radius: 20px;

}
.participant p{
    margin:20px;
    padding: 5px;
}